pkgbase = archwin-keyring
	pkgdesc = ArchWin PGP keyring
	pkgver = 20230702
	pkgrel = 1
	url = https://archwin.github.io/repo/
	install = archwin-keyring.install
	arch = any
	license = GPL
	depends = archlinux-keyring
	source = keyring-20230702-1.tar.gz::https://github.com/archwin/keyring/archive/20230702-1.tar.gz
	sha512sums = af982cee51b743fb79a539bf5a025ef3422845b187e49d9256664522cb3f3066ee97dd891abffbe9b5ed112256dda079358c11d7053899b32cc9f0f79b171f5c

pkgname = archwin-keyring
